<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Take Photo - Tech For Business</title>
	<link rel="stylesheet" type="text/css" href="{% static 'face_attendance/styles.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-latest.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script defer src="{% static 'face_attendance/face-api.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'face_attendance/webcam.min.js' %}"></script>

	<script>
		var weights = "{% static 'face_attendance/weights' %}";
		var savePhoto = "{% url 'save-photo' %}";
		var username = "{{ username }}";
	</script>
</head>

<body>
	<img src="{% static 'take_photo/img/training_visualisation.png' %}"/>
</body>

</html>
